:root {
  --bg-color: #ffffff;
  --txt-color: #000000;
  --avg-red: #ec0000;
  --avg-green: #008900;
  --avg-blue: #5f5fff;
  --avg-gray: #808080;
}

/* dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #000000;
    --txt-color: #ffffff;
  }
}

a {
  color: var(--avg-blue);
  text-decoration: none;
}

blockquote {
  background: var(--avg-gray);
  border-left: 5px solid var(--bg-color);
  padding: 3px 1em 3px;
}

body {
  background-color: var(--bg-color);
  color: var(--txt-color);
  /* 65 characters is ideal for reading */
  max-width: 65ch;
  margin: auto;
  padding: 1em;
  line-height: 1.5;
}

code {
  background: var(--bg-color);
}

hr {
  border-style: dashed;
  color: var(--avg-gray);
}

/* misc elements */
img,
iframe,
video {
  max-width: 100%;
}

li {
  padding: 5px;
}

main {
  hyphens: auto;
}

nav a {
  color: var(--txt-color);
}

pre code {
  background: none;
}

/* code */
pre {
  border: 1px solid var(--bg-color);
  box-shadow: 5px 5px 5px var(--avg-gray);
  padding: 1em;
  overflow-x: auto;
}

table thead th {
  border-bottom: 1px solid var(--avg-gray);
}

table {
  margin: auto;
  border-top: 1px solid var(--avg-gray);
  border-bottom: 1px solid var(--avg-gray);
}

th,
td {
  padding: 5px;
}

thead,
tfoot,
tr:nth-child(even) {
  background: var(--avg-gray);
}

.article-meta,
.menu a {
  text-decoration: none;
  background: var(--avg-gray);
  padding: 5px;
  border-radius: 5px;
}

.menu li {
  display: inline-block;
}

/* header and footer areas */
.menu {
  padding: 0;
}

.menu,
.article-meta,
footer {
  text-align: center;
}

.title {
  font-size: 1.1em;
}