/* default colors are equally readable */
:root {
  --bg-color: #ffffff;
  --txt-color: #000000;
  --avg-red: #ec0000;
  --avg-green: #008900;
  --avg-blue: #5f5fff;
  --avg-gray: #757575;
}

/* dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #000000;
    --txt-color: #ffffff;
  }
}

/* print style */
@media print {
  :root {
    --bg-color: #ffffff;
    --txt-color: #000000;
  }

  body {
    font-size: 12pt;
    padding: 1em;
  }

  footer,
  nav {
    display: none !important;
  }

  img {
    max-width: 50% !important;
  }
}

a {
  color: var(--avg-blue);
}

abbr {
  color: var(--avg-red);
}

body {
  background-color: var(--bg-color);
  color: var(--txt-color);
  font-family: Verdana, Arial, sans-serif;
  font-size: 14pt;
  line-height: 1.5;
  margin: auto;
  /* 60 characters per line for readability */
  max-width: 60ch;
  padding: 1em;
}

code {
  font-family: "Courier New", monospace;
}

footer,
nav {
  user-select: none;
}

header h1,
nav+h1 {
  text-align: center;
}

header i {
  color: var(--avg-gray);
}

img,
table {
  display: block;
  margin: auto;
}

nav {
  display: flex;
  justify-content: space-around;
  padding-top: 1em;
  text-decoration: none;
}

nav a {
  font-size: larger;
  text-decoration: none;
}

p code {
  background-color: var(--avg-green);
}

pre {
  padding: 1em;
}

summary {
  color: var(--avg-red);
  cursor: pointer;
}

tbody tr:nth-child(odd) {
  background-color: var(--avg-gray);
}

:not(body, code span, li, ul) {
  border-radius: 5px;
  max-width: 100%;
  overflow: auto;
}