{{ define "main" }}

<h1>Welcome to my site!</h1>

<br/>
<pre>
I'm a quantum advocate and the proud author of <a href="https://quantumtales.org/">Quantum Tales</a>. Have a look around and feel free to share! 🥳

Contact me at spence at duck.com
- Download my <a href="https://keys.openpgp.org/vks/v1/by-fingerprint/6533CE12BD6691F26D7B4059BFEF7CCA86EE0F0B">PGP Key</a>

I'm also on most platforms as `splch`, so check out my <a href="https://github.com/splch">GitHub</a> and <a href="https://instagram.com/splch/">Instagram</a>! <a href="about/">(more)</a>
</pre>
<br/>

<h1>Latest posts</h1>

<div class="posts-list">
{{ with .Site.GetPage "/posts" }}
    {{ range first 3 (sort .Data.Pages "Date" "desc" (where .Pages ".Params.private" "!=" true))}}
        <div class="post">
            <p>
                <div class="date">{{ .PublishDate.Format "Jan. 2, 2006" }}</div>
                <h1><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h1>
                {{ .Summary }}
            </p>
        </div>    
    {{ end }}
{{ end }}
</div>

{{ end }}
