:root {
  --active: #903;
  --background: #fff;
  --code: #abb2bf;
  --font-color: #000;
  --font-size: 16pt;
  --hover: #9cf3;
  --light: #069;
  --round: 10px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000;
    --hover: var(--active);
    --font-color: #fff;
  }
}

html {
  background: var(--background);
  font-family: Verdana, Arial, sans-serif;
}

body {
  margin: 0.5em;
}

p,
ol,
ul,
table,
summary,
noscript {
  font-size: var(--font-size);
}

a {
  color: var(--light);
  text-decoration-line: none;
}

i {
  color: #666666;
  font-size: calc(var(--font-size) * 0.9);
}

header {
  align-items: center;
  background: var(--light);
  box-shadow: 0px 2px 7px 0px black;
  color: #fff;
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: 100ch;
  position: sticky;
  top: 0;
  z-index: 2;
}

header h2 {
  font-weight: normal;
  margin: 0 0.5% 0 0.5%;
  text-align: center;
  /* 5 items in header separated by 2% */
  width: calc(100% / 5 - 1%);
}

h2.template,
h2.link {
  cursor: pointer;
  font-size: calc(var(--font-size) * 0.9);
}

h2.template:hover,
h2.link:hover,
header h2.link.active {
  background: var(--active);
  color: #fff;
}

p > img {
  max-width: 100%;
}

div.template > img:hover {
  box-shadow: 0px 2px 7px 0px black;
}

table {
  border: solid 1px #3366997f;
}

table thead {
  background: var(--light);
  color: #fff;
}

tr:nth-child(even) {
  background: var(--hover);
}

blockquote {
  border-left: 3px solid #ccc;
  color: #888;
  padding-left: 1em;
}

code {
  background: #282c34;
  color: var(--code);
  display: inline-block;
}

pre > code {
  border-left: 0.5em solid var(--light);
  font-family: "Courier New", monospace !important;
  font-size: calc(var(--font-size) * 0.9);
  max-height: 46vh;
  overflow: auto;
  tab-size: 4;
  width: calc(96% - 0.5em); /* 100% with border */
}

pre > code:hover,
pre > code:focus {
  border-left: 0.5em solid var(--active);
  outline: none;
}

p > code {
  font-size: calc(var(--font-size) * 0.85);
  margin: 0;
  padding: 0.2em 0.4em;
}

abbr {
  color: var(--active);
}

tbody tr:hover {
  background: var(--active);
  color: #fff;
}

/* no select elements */
header,
summary,
#background,
#search {
  user-select: none;
}

/* surround-padding elements */
h2,
pre > code,
summary,
#search {
  padding: 1%;
}

/* rounded elements */
code,
h2,
header,
img,
summary,
table,
#search {
  border-radius: var(--round);
}

summary {
  background: var(--light);
  color: #fff;
  cursor: pointer;
  outline: none;
}

summary:hover {
  background: var(--active);
}

iframe {
  border-width: 0;
}

#topleft {
  text-align: center;
  width: 18%;
}

#topleft p {
  font-size: calc(var(--font-size) * 0.8);
  margin: 0;
}

#logo {
  cursor: pointer;
  margin-top: 5%;
  width: 50%;
}

#cover {
  max-height: 30vh;
  max-width: 100%;
}

#page {
  color: var(--font-color);
  margin: auto;
  max-width: 80ch;
  width: 80%;
}

#title {
  font-size: calc(var(--font-size) * 1.5);
  text-align: center;
}

#background {
  align-items: center;
  justify-items: center;
  margin: 1em 0 1em 0;
  overflow: auto;
}

#search {
  font-family: Verdana, Arial, sans-serif;
  width: 25%;
}

#search:focus {
  outline: none;
}

.badge {
  height: 17vh;
  margin: 0.5vh;
}

.pdf {
  aspect-ratio: 8.5/11;
  width: 65%;
}

.video {
  aspect-ratio: 16/9;
  width: 100%;
}

.web {
  aspect-ratio: 1/1;
  width: 100%;
}

@media print {
  :root {
    --background: #fff;
    --hover: #9cf3;
    --font-color: #000;
    --font-size: 12pt;
  }
  header,
  footer {
    display: none;
  }
  img {
    max-width: 50%;
  }
  pre > code {
    max-height: max-content;
    white-space: break-spaces;
  }
}
